name: Release to hex.pm

on:
  push:
    tags:
      - "v*"

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: "28"
          gleam-version: "1.14.0"
          rebar3-version: "3"
      - run: gleam deps download
      - run: gleam publish --yes
        env:
          HEXPM_API_KEY: ${{ secrets.HEX_PM_KEY }}
